@import "./github-markdown-light.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --white: #FFFFFF;
        --black: #000000;
        --sunlight-100: #541D0C;
        --sunlight-200: #722B16;
        --sunlight-300: #9F391A;
        --sunlight-400: #C64922;
        --sunlight-500: #DF5F38;
        --sunlight-600: #EA7855;
        --sunlight-700: #F69B7F;
        --sunlight-800: #FCD1C4;
        --sunlight-900: #FEF4F0;
        --sunlight-gray-100: #2B2625;
        --sunlight-gray-200: #473C39;
        --sunlight-gray-300: #64534E;
        --sunlight-gray-400: #776864;
        --sunlight-gray-500: #918886;
        --sunlight-gray-600: #B6AAA7;
        --sunlight-gray-700: #CEC8C7;
        --sunlight-gray-800: #E5E2E1;
        --sunlight-gray-900: #F3F2F2;
    }
}


/* Common style */

html {
    @apply text-base;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    background-color: var(--sunlight-900);
}

header {
    border-bottom: 1px dashed var(--sunlight-gray-700);
    background-color: var(--sunlight-900);
}

header .wrap {
    @apply mx-4 md:mx-12 lg:mx-24 flex justify-between items-center py-3;
}

footer {
    border-top: 1px dashed var(--sunlight-gray-700);
    background-color: var(--sunlight-900);
}

.fixed-bottom {
    @apply md:fixed bottom-0 left-0 w-full;
}

.sm-fixed-bottom {
    @apply fixed bottom-0 left-0 w-full;
}

footer .wrap {
    @apply mx-4 md:mx-12 lg:mx-24 md:flex justify-between items-center py-6;
}

footer .madeby {
    @apply text-center mb-2 md:text-left md:mb-0;
    color: var(--sunlight-gray-500);
}

footer .link {
    @apply text-center md:text-left;
}

footer .link a {
    color: var(--sunlight-gray-500);
}

footer .link a:not(:last-child) {
    @apply mr-6;
}

header .wrap .link a {
    display: inline-block;
    font-weight: 500;
    color: var(--sunlight-gray-500);
    line-height: 1rem;
}

header .wrap .link .download {
    @apply py-3 px-4 ml-6 md:ml-8;
    color: var(--white);
    border-radius: 0.25rem;
    background: var(--sunlight-600);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
}

header .wrap .link .download:hover {
    background: var(--sunlight-500);
}

header .wrap .logo img {
    height: 40px;
}

.content .pageHero {
    @apply text-center mb-16;
    margin-top: 4.26666667rem;
}

.content .pageHero h2 {
    @apply mx-2 md:mx-0 md:w-[820px] md:mx-auto;
    font-size: 3.73333333rem;
    font-weight: 600;
    line-height: 4.26666667rem;
    color: var(--sunlight-gray-100);
}

.content .pageHero p {
    @apply mx-2 md:mx-0 md:w-[720px] md:mx-auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--sunlight-gray-500);
}

.pageBody {
    @apply mb-16 md:mb-0;
}

/* Download page */

#downloadLink {
    background-color: var(--white);
    margin: 0 auto;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    @apply w-full md:w-[640px];
}

#downloadLink h2 {
    @apply mb-4 md:mb-0;
    font-size: 1.33333333rem;
    color: var(--sunlight-gray-200);
    font-weight: 500;
}

#downloadLink .downloadLinkContainer {
    @apply md:flex justify-between items-center py-8 px-12 text-center md:text-left;
    line-height: 1rem;
}

#downloadLink .downloadLinkContainer:not(:last-child) {
    border-bottom: 1px solid var(--sunlight-gray-800);
}

#downloadLink .downloadLinkContainer .downloadButton {
    @apply w-[300px] text-center py-3;
    display: inline-block;
    color: var(--white);
    background-color: var(--sunlight-600);
    border-radius: 0.25rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
}

#downloadLink .downloadLinkContainer .downloadButton:hover {
    background-color: var(--sunlight-500);
}

.icon {
    display: inline-block;
    vertical-align: text-bottom;
    mask-size: contain;
    mask-repeat: no-repeat;
}

.icon-download {
    mask: url("../img/icon/download.svg");
    width: 17.5px;
    height: 15.21px;
    background-color: var(--white);
    @apply mr-2;
}

/* Pricing page */

#purchasePlan {
    @apply md:flex items-start justify-center pb-16;
}

.purchasePlanContainer {
    @apply p-6 md:w-[408px];
    background-color: var(--white);
    border-radius: 0.25rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.purchasePlanContainer:first-child {
    @apply mb-6 md:mr-6 md:mb-0;
}

.purchasePlanContainer .planName {
    @apply mb-6;
}

.purchasePlanContainer .planName h3 {
    font-size: 1.13333333rem;
    font-weight: 500;
    color: var(--sunlight-gray-200);
}

.purchasePlanContainer .pricingOption {
    @apply flex justify-between items-center;
    background-color: var(--sunlight-900);
    border-radius: 0.25rem;
}

.purchasePlanContainer .pricingOption .option {
    @apply w-[50%] text-center py-4 px-8;
    cursor: pointer;
}

.purchasePlanContainer .pricingOption > div.selected {
    outline: 3px solid var(--sunlight-600);
    border-radius: 0.25rem;
}

.purchasePlanContainer .pricingOption .payLifeTime {
    @apply w-full text-center;
}

.purchasePlanContainer .pricingOption .amount {
    font-size: 1.8rem;
    font-weight: 500;
}

.purchasePlanContainer .pricingOption .period {
    color: var(--sunlight-gray-200);
}

.purchasePlanContainer .pricingOption .priceLabel {
    color: var(--sunlight-gray-600);
}


.purchasePlanContainer .planIncluded {
    @apply p-6;
}

.purchasePlanContainer .planIncluded li:not(:last-child) {
    @apply mb-4;
}

.purchasePlanContainer:nth-child(2) .planIncluded li:last-child {
    @apply invisible;
}

.purchasePlanContainer .planIncluded .feature {
    line-height: 1rem;
    color: var(--sunlight-gray-200);
    font-weight: 500;
}

.purchasePlanContainer .planIncluded .icon-yes {
    mask: url("../img/icon/yes.svg");
    width: 18px;
    height: 17.98px;
    background-color: var(--sunlight-gray-200);
    @apply mr-2;
}

.purchasePlanContainer .planPurchase {
    @apply text-center;
}

.purchasePlanContainer .planPurchase .btn {
    @apply w-full py-3 px-4;
    display: inline-block;
    background-color: var(--sunlight-600);
    color: var(--white);
    font-weight: 500;
    border-radius: 0.25rem;
    line-height: 1rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
}

.purchasePlanContainer .planPurchase[data-option="monthly"] .yearly {
    @apply hidden;
}

.purchasePlanContainer .planPurchase[data-option="yearly"] .monthly {
    @apply hidden;
}

.purchasePlanContainer .planPurchase .btn:hover {
    @apply w-full;
    background-color: var(--sunlight-500);
}

.sectionHeader {
    @apply text-center my-16;
}

.sectionHeader h3 {
    font-size: 2.66666667rem;
    font-weight: 600;
    line-height: 3.2rem;
    color: var(--sunlight-gray-100);
}

.sectionHeader p {
    @apply md:w-[480px] mx-auto;
    font-size: 1.13333333rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--sunlight-gray-500);
}

#faq {
    @apply mb-16;
}

#faqContainer {
    @apply md:w-[656px] px-6;
    margin: 0 auto;
}

.faqItem {
    @apply mb-8;
}

.faqItem .faqQuestion {
    @apply mb-2;
    font-size: 1.26666667rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--sunlight-gray-100);
}

.faqItem .faqAnswer {
    line-height: 1.5rem;
    color: var(--sunlight-gray-300);
}

/* Home Style */

#founderNotes {
    @apply mb-16;
}

#founderNotesContainer {
    @apply relative w-[88%] md:w-[820px] mx-auto;
}

.paper {
    @apply p-10;
    border-radius: 0.25rem;
    background: var(--white);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.paper .notesTitle {
    @apply text-center mb-6;
    font-weight: 600;
    color: var(--sunlight-gray-500);
}

.paper .notesContent {
    @apply mb-12;
}

.paper .notesCTA .tryBtn,
.paper .notesCTA .purchaseBtn {
    @apply py-3 px-4;
    font-weight: 500;
    color: var(--white);
    border-radius: 0.25rem;
    background: var(--sunlight-600);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
}

.paper .notesCTA .tryBtn:hover {
    background: var(--sunlight-500);
}

.paper .notesCTA .purchaseBtn {
    @apply ml-4;
    background-color: var(--white);
    color: var(--sunlight-gray-200);
}

.paper .notesCTA .purchaseBtn:hover {
    background-color: var(--sunlight-gray-900);
}

#paper1 {
    transform: rotate(-3deg);
}

#paper1 .notesBody {
    @apply invisible;
}

#paper2 {
    @apply absolute top-0 left-0;
}

.ctaContainer {
    @apply text-center;
}

.ctaContainer .cta {
    @apply py-4 px-16 ml-6 md:ml-8;
    display: inline-block;
    font-size: 1.53333333rem;
    color: var(--white);
    border-radius: 0.25rem;
    background: var(--sunlight-600);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
}

.ctaContainer .cta.download {
    @apply mb-8 md:mb-0;
}